body {
    background-color: #f8f9fa;
}

.library-header {
    margin-bottom: 2rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

.library-cards {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    grid-gap: 2rem 0;
    justify-items: center;
}

.card {
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.bookToggle {
    
}
